{% extends "base.html" %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/createblog.css">
     <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="/static/createblog.css">
     <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
</head>

<div class="container-fluid">
        <form method="POST">
            {{form.hidden_tag()}}
            <div class="block"><label><h5>{{ form.title.label }}</h5></label> <br>
                {{form.title()}}
                <br>
                <br>
            </div>
            <div class="block"><label><h5>{{ form.text.label }}</h5></label> <br>
               {{form.text(cols="45", rows="10", placeholder=('Please describe in a few simple sentences'))|safe}}</div>
            {{form.submit()}}
         </form>
</div>


{% endblock %}